*.*.*~
*.sh
*.log
*.exe
*.pdb
*.dll
*.bat
*.application
*.conf
*.cache
*.suo
*.obj
*.user
*.rb
*.lib
*.idb
*.exp
*.lib
*.lnk
*.ncb
*.html
*.ilk
*.res
*.manifest
*.pch
*.dep
*.aps
*.txt
uninstall.ini
*.zip
*.version
*.ini
