*.*.*~
tags
*.sh
*.log
*.exe
*.pdb
*.dll
*.dump
*.diff
*.bat
*.application
*.conf
*.cache
*.suo
*.obj
*.o
*.user
*.rb
*.lib
*.idb
*.exp
*.lib
*.lnk
*.ncb
*.html
*.ilk
*.ipch
*.res
*.manifest
*.pch
*.dep
*.aps
*.txt
uninstall.ini
*.zip
*.version
*.ini
*.cdf
*.cache
*.obj
*.ilk
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.pch
*.exp
*.idb
*.rep
*.xdc
*.pdb
*.manifest.rc
*.bsc
*.sbr
*.xml
*.ver
*.lastbuildstate
