*.*.*~
*.application
*.aps
*.bat
*.bsc
*.cache
*.cdf
*.conf
*.dep
*.dump
*.dll
*.exe
*.exp
*.htm
*.html
*.idb
*.ilk
*.ini
*.ipch
*.lastbuildstate
*.lib
*.lnk
*.log
*.manifest
*.manifest.rc
*.meta
*.ncb
*.o
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rb
*.rep
*.res
*.resources
*.rsp
*.sbr
*.settings
*.sh
*.suo
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.txt
*.user
*.ver
*.xdc
*.xml
*.zip
tags
